/*
 * The css files should only be used to edit color related things. All other
 * values can and should changed through the config. The following values will
 * be replaced by config values.
 * - groove-height
 * - handle-size
 * - handle-size-half
 * - icon-size-half
 */

IconButton {
	border-radius: icon-size-half;
}

IconButton[locked=true] {
    background: rgba(255, 255, 255, 0.3);
}

IconButton:hover {
    background: rgba(255, 255, 255, 0.2);
}

IconButton:pressed {
    background: rgba(0, 0, 0, 0.15);
}

Slider::groove:horizontal {
	background: rgb(150, 150, 150);
	height: groove-height;
}

Slider::handle:horizontal {
	background: white;
	width: handle-size;
	height: handle-size;
	margin-top: -handle-size-half;
	margin-bottom: -handle-size-half;
	border-radius: handle-size-half;
}

Slider::sub-page {
	background: white;
}

Slider::add-page {
	background: rgb(150, 150, 150);
}
