/*
 * The css files should only be used to edit color related things. All other
 * values can and should changed through the config. The following values will
 * be replaced by config values.
 * - groove-size-duration
 * - groove-size-volume
 * - handle-size
 * - handle-size-half
 * - handle-size-pressed
 * - handle-size-pressed-half
 * - icon-size-half
 */

IconButton {
	border-radius: icon-size-half;
}

IconButton:pressed {
    background: rgba(0, 0, 0, 0.15);
}

LockableIconButton[locked=true] {
    background: rgba(255, 255, 255, 0.3);
}

Slider::sub-page {
	background: white;
}

Slider::add-page {
	background: rgb(150, 150, 150);
}

DurationSlider::groove:horizontal {
	background: rgb(150, 150, 150);
	height: groove-size-duration;
}

DurationSlider::handle:horizontal {
	background: white;
	width: handle-size;
	height: handle-size;
	margin-top: -handle-size-half;
	margin-bottom: -handle-size-half;
	border-radius: handle-size-half;
}

DurationSlider::handle:horizontal:hover {
	background: rgb(175, 175, 175);
}

DurationSlider::handle:horizontal:pressed {
	background: white;
	width: handle-size-pressed;
	height: handle-size-pressed;
	margin-top: -handle-size-pressed-half;
	margin-bottom: -handle-size-pressed-half;
	border-radius: handle-size-pressed-half;
}

VolumeSlider::groove:horizontal {
    background: rgb(150, 150, 150);
    height: groove-size-volume;
}
