/*
 * The css files should only be used to edit color related things. All other
 * values can and should changed through the config. The following values will
 * be replaced by config values.
 * - cell-padding
 * - scrollbar-width
 */

AudiosWidget {
	color: white;
	background: black;
	alternate-background-color: rgb(28, 28, 28);
}

AudiosWidget:item {
	border: 0;
	padding: cell-padding;
}

AudiosWidget::item:hover {
	background: rgb(50, 50, 50);
}

QScrollBar:horizontal {
	width: 0;
}

QScrollBar:vertical {
    background: black;
    width: scrollbar-width;
}

QScrollBar::handle:vertical {
    background: rgb(64, 64, 64);
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: transparent;
}

