QLabel {
    color: white;
}

IconButton[locked=false] {
    background: transparent;
}

IconButton[locked=true] {
    border-radius: 15%;
    background: rgba(255, 255, 255, 0.3);
}

IconButton:hover {
    border-radius: 15%;
    background: rgba(255, 255, 255, 0.2);
}

IconButton:pressed {
    border-radius: 15%;
    background: rgba(0, 0, 0, 0.15);
}

QSlider::groove:horizontal {
	background: #969696;
	height: 2px;
}

QSlider::handle:horizontal {
	background: #D2D2D2;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-bottom: -8px;
	border-radius: 8px;
}
