/*
 * The following values will be replaced by config values.
 * - SCROLLBAR_WIDTH
 */

MusicLibrary {
	background: black;
}

QLabel {
	color: white;
}

SongInfo[even=true] {
	background: #262626;
}

SongInfo[even=false] {
	background: black;
}

SongInfo:hover {
	background: #404040;
}

SongInfo:pressed {
	background: #595959;
}

QScrollBar:vertical {
    background: black;
    width: SCROLLBAR_WIDTH;
}

QScrollBar::handle:vertical {
    background: #404040;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: transparent;
}
