/*
 * The following values will be replaced by config values.
 * - groove-height
 * - handle-size
 * - handle-size-half
 * - icon-size-half
 */

QLabel {
    color: white;
}

IconButton {
	border-radius: icon-size-half;
}

IconButton[locked=true] {
    background: rgba(255, 255, 255, 0.3);
}

IconButton:hover {
    background: rgba(255, 255, 255, 0.2);
}

IconButton:pressed {
    background: rgba(0, 0, 0, 0.15);
}

ClickableSlider::groove:horizontal {
	background: rgb(150, 150, 150);
	height: groove-height;
}

ClickableSlider::handle:horizontal {
	background: white;
	width: handle-size;
	height: handle-size;
	margin-top: -handle-size-half;
	margin-bottom: -handle-size-half;
	border-radius: handle-size-half;
}

ClickableSlider::sub-page {
	background: white;
}

ClickableSlider::add-page {
	background: rgb(150, 150, 150);
}
