/*
 * The css files should only be used to edit color related things. All other
 * values can and should changed through the config. The following values will
 * be replaced by config values.
 * - scrollbar-width
 */

MusicLibrary {
	color: white;
	background: black;
	alternate-background-color: rgb(38, 38, 38);
}

MusicLibrary:item {
	border: 0;
	padding: 20;
}

MusicLibrary::item:hover {
	background: rgb(64, 64, 64);
}

QScrollBar:horizontal {
	width: 0;
}

QScrollBar:vertical {
    background: black;
    width: scrollbar-width;
}

QScrollBar::handle:vertical {
    background: rgb(64, 64, 64);
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: transparent;
}

