/*
 * The following values will be replaced by config values.
 * - GROOVE_HEIGHT
 * - HANDLE_SIZE
 * - HANDLE_SIZE_HALF
 * - ICON_SIZE_HALF
 */

QLabel {
    color: white;
}

IconButton {
	border-radius: ICON_SIZE_HALF;
}

IconButton[locked=true] {
    background: rgba(255, 255, 255, 0.3);
}

IconButton:hover {
    background: rgba(255, 255, 255, 0.2);
}

IconButton:pressed {
    background: rgba(0, 0, 0, 0.15);
}

ClickableSlider::groove:horizontal {
	background: rgb(150, 150, 150);
	height: GROOVE_HEIGHT;
}

ClickableSlider::handle:horizontal {
	background: white;
	width: HANDLE_SIZE;
	height: HANDLE_SIZE;
	margin-top: -HANDLE_SIZE_HALF;
	margin-bottom: -HANDLE_SIZE_HALF;
	border-radius: HANDLE_SIZE_HALF;
}

ClickableSlider::add-page {
	background: rgb(150, 150, 150);
}

ClickableSlider::sub-page {
	background: white;
}
