/*
 * The following values will be replaced by config values.
 * - SCROLLBAR_WIDTH
 */

MusicLibrary {
	background: black;
}

QLabel {
	color: white;
}

SongInfo[even=true] {
	background: rgb(38, 38, 38);
}

SongInfo[even=false] {
	background: black;
}

SongInfo:hover {
	background: rgb(64, 64, 64);
}

SongInfo:pressed {
	background: rgb(89, 89, 89);
}

QScrollBar:vertical {
    background: black;
    width: SCROLLBAR_WIDTH;
}

QScrollBar::handle:vertical {
    background: rgb(64, 64, 64);
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: transparent;
}
