QLabel {
	color: white;
}

SongInfo[even=true] {
	background-color: #262626;
}

SongInfo[even=false] {
	background-color: black;
}

SongInfo:hover {
	background-color: #404040;
}

SongInfo:pressed {
	background-color: #595959;
}
