QWidget {
	color: white;
}

QWidget[even=true] {
	background-color: #262626;
}

QWidget[even=false] {
	background-color: black;
}

QWidget:hover {
	background-color: #404040;
}

QWidget:pressed {
	background-color: #595959;
}
